</div>
</main>
<!-- start footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                with made by abdellah charki <i class="fa fa-heart"></i> copyright <%= new Date().getFullYear() %> <i class="fa fa-copyright"></i> 
            </div>
        </div>
    </div>
</footer>
<!-- sripte -->
 <!-- <script src="/js/jquery.min.js"></script> 
 <script src="/js/popper.min.js"></script> 
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js//mdb.min.js"></script>   -->
 <script src="/js/compiled.192.min.js"></script> 
</body>

</html>