<!--=============== start search bar =====================-->
<div class="row">
    <div class="col">
        <form class="input-group mt-3 mb-3" method="GET" action="/search">
            <input type="text" name="query" class="form-control" style="padding:1.4rem;" placeholder="search film">
            <button class="btn btn-outline-secondary m-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<!--=============== end search bar =====================-->